{% assign myString = 'Hello World' %}

{% comment %} 第二个单词小写 <p>{{ myString |  capitalize   }}</p> {% endcomment %}

{% comment %} <p> {{ myString  | append:'  some EXTRA text'   }} </p> {% endcomment %}

{% assign myOtherString = 'Hello EXTRA World      ' %}

{% comment %} <p> {{ myOtherString |  downcase |  append: 'myOtherString'   }} </p> {% endcomment %}
{% comment %} <p> {{ myOtherString   |  append: '!'   }} </p>
<p> {{ myOtherString | strip  |  append: '!'   }} </p>  去掉空格 {% endcomment %}

{% comment %} {% assign myHTmlCode = '<p style="color: red;"> Hello</p>' %}
纯文本过滤 
{{myHTmlCode |  strip_html}} {% endcomment %}
{% assign myLongString = 'Hello EXTRA World  21321321321321321321sadsadsadsadsadsa    ' %}

{% comment %} 只留四个字母 <p>{{  myLongString | truncate: 4,'?'  }}</p> {% endcomment %}
{% comment %} 只留3个单词<p>{{ myLongString |  truncatewords: 3 }}</p> {% endcomment %}

{% comment %} {%  assign myMultilineText = '
            this  is my first line
              this  is my second line
               this  is my third line
' |  newline_to_br 过滤器换行  %}   

{{  myMultilineText   }} {% endcomment %}

{% assign myText = 'Hello some extra text some extra text' %}

{% comment %} <p>  {{ myText  |  replace_last: 'extra', 'replace' }}</p> {% endcomment %}
 {% comment %} <p> {{ myText  |  remove_last: 'text'  }} </p> {% endcomment %}

 {% comment %}  将字符串的内容分割 {% assign myColorsList = 'Html|orange,css|blue,javascript|yellow' |  split: ',' %}
 {% for language in myColorsList %}
    {% assign languageName = language |  split: "|" | first %}
    {% assign languageColor = language |  split:  "|" | last %}
        <p style="color:{{ languageColor }}">{{languageName}}</p>
   
 {% endfor %} {% endcomment %}