{% comment %} {{ product }} {% endcomment %}
{% comment %} {{ product | inspect }} {% endcomment %}
{% comment %}
  {% if product.title %}
    <p>Product Title: {{ product.title }}</p>
  {% endif %}
  {% if product.price %}
    <p>Product Price: {{ product.price }}</p>
  {% endif %}

  <br>
  {% if product.title contains 'Snowboard' %}
    <p>This is Snowboard</p>
  {% endif %}

  <br>
  {% unless mynumvariable < 10 %}
    <p>this num is less than 10</p>
  {% endunless %}

  <br>

  <br>

  {% if product.tags.size > 0 %}
    <h2>Tags</h2>

    <ul>
      {% for tag in product.tags %}
        <li data-product-index>{{ tag }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endcomment %}

{% comment %} {{ product.title }} {% endcomment %}
{% comment %}
  {% assign products = collection.products %}
  {% assign productTitles = products | map: 'title' %}
  {% assign combinedTitles = productTitles | join: ', ' %}

  {{ collection.products }}
{% endcomment %}
{% comment %}
  对字符串进行的一些操作 {{ product.title }}
  {{ product.title | first }}
  {{ product.title | last }}
  {{ product.title | size }}
{% endcomment %}
{% comment %}
  <p>{{ collection.description | default: 'this is a default description' }}</p>

  {% assign backgroundColor = '#ff0000' %}

  <div class="swatch" style="background:{{  backgroundColor |  color_lighten: 50  }}"></div>

  {% assign color1 = '#000000' %}
  {% assign color2 = '#0000ff' %}

  <div class="swatch" style="background:{{  color1 |  color_mix: color2,100  }}"></div>
{% endcomment %}

{{ section }}

{% comment %}
  {% assign heading_block = section.blocks | find: 'type', 'heading' %}
  <p>{{ heading_block.setting.heading }}</p>
{% endcomment %}

<style>
  .swatch {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    display: block !important;
  }
</style>
